<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload an Image for Bird Classification</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload and Predict</button>
        </form>
    </div>
</body>
</html>
